<h1>Search Users</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form class='form-inline' method="POST" action="/user/search">
  <div class="form-group">
    <input class="form-control" type="text" name="id" placeholder="Search Users By Id">
  </div>
  <input type="submit" class="btn btn-primary" value="Search">
</form>
